---
import ParallaxBackgroundImage from "../global/ParallaxBackgroundImage.astro";

type Props = {
  headline: string;
  venueName: string;
  coverImage: string;
};

const { headline = "", venueName = "", coverImage = "" } = Astro.props;
---

<section id="header" class="relative px-[5%] pt-12">
  <div class="mx-auto max-w-lg py-16 text-center md:py-24 lg:py-28">
    <div>
      <h1
        class="mb-5 font-heading text-6xl text-white md:mb-6 md:text-9xl lg:text-10xl"
      >
        {headline}
      </h1>
    </div>
  </div>
  <ParallaxBackgroundImage imgSrc={coverImage} overlayClassName="bg-black/60" />
</section>
