---
import type { Event } from "../../types/types";
import ScheduleEvent from "../schedule/ScheduleEvent.astro";

const { events } = Astro.props as { events: Event[] | null };
---

<section id="upcoming-shows" class="bg-gray-50 px-[5%] py-16 md:py-24 lg:py-28">
  <div class="container">
    <div class="mb-12 md:mb-18 lg:mb-20">
      <div class="mx-auto max-w-lg text-center">
        <h4 class="kicker">Schedule</h4>
        <h1 class="mt-3 font-heading text-5xl md:mt-4 md:text-7xl lg:text-8xl">
          Upcoming Shows
        </h1>
      </div>
    </div>
    <div class="flex w-full flex-col gap-4">
      {
        events ? (
          events.map((event, index) => (
            <ScheduleEvent event={event} index={index} />
          ))
        ) : (
          <p>No upcoming shows... check back soon!</p>
        )
      }
    </div>
  </div>
</section>
