---
/**
 * Blog Page
 * src/pages/blog/index.astro
 *
 * To display the blog page
 *
 */

import Layout from "../../layouts/Layout.astro";
import { TitleHeaderSubpage } from "../../components";
---

<Layout title="Blog | The Benderz" description="Check out our blog!">
  <TitleHeaderSubpage
    headline="The Benderz Blog"
    description="Coming Soon!"
    kicker="Blog"
  />
  <div class="my-96"></div>
</Layout>
