@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Glass */
  .glass {
    @apply bg-white/50 backdrop-blur-md;
  }

  /* Buttons */
  .button {
    @apply rounded-full font-heading text-xl;
  }

  .button-secondary {
    @apply button border-2 bg-transparent;
  }

  .button-link {
    @apply font-heading text-xl;
  }

  .kicker {
    @apply font-subheading text-2xl tracking-wider;
  }

  .heading-nav {
    @apply text-xl;
  }
}

.animated-gradient {
  background: radial-gradient(circle at 50% 50%, #00f26185 0%, #0575e6 100%);
  background-size: 400% 400%;
  animation: gradientAnimation 7s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
