---
/**
 * Stage Plot Page
 * src/pages/stageplot.astro
 *
 * This is a page to display the stage plot for The Benderz.
 *
 */
// Global Components
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { TitleHeaderSubpage } from "../components";

// Images
import stagePlot from "../assets/images/benderz-stageplot-fullband.png";

// Page Data
const headline = "Stage Plot";
const description = "Technical specs for The Benderz";
---

<Layout
  title="Stage Plot | The Benderz"
  description="Technical specs for The Benderz"
>
  <TitleHeaderSubpage headline={headline} description={description} />
  <section id="relume" class="px-[5%] py-16 md:py-24 lg:py-28">
    <div class="container">
      <div class="mb-12 text-center md:mb-18 lg:mb-20">
        <h2 class="mb-5 font-heading text-5xl md:mb-6 md:text-7xl lg:text-8xl">
          Full Band
        </h2>
      </div>
      <div class="grid auto-cols-fr grid-cols-1 gap-8">
        <Image src={stagePlot} alt="Stage Plot" class="w-full" />
      </div>
    </div>
  </section>
</Layout>
