---
import { Header46 } from "../../components/global/Header46";
import { Layout3 } from "../../components/about-us/Layout3";
import { Team14 } from "../../components/about-us/Team14";
import { Testimonial15 } from "../../components/about-us/Testimonial15";
import { Faq6 } from "../../components/about-us/Faq6";
import { Contact5 } from "../../components/global/Contact5";
---

<main>
  <Header46 />
  <Layout3 />
  <Team14 />
  <Testimonial15 />
  <Faq6 />
  <Contact5 />
</main>
