---
// Global Components
import Layout from "../../layouts/Layout.astro";
import { Header46 } from "../../components/global/Header46";
import { Contact5 } from "../../components/global/Contact5";

// Local Components
import { Event31 } from "../../components/schedule/Event31";
import ScheduleEvent from "../../components/schedule/ScheduleEvent.astro";

// Helpers
import { getFutureEvents } from "../../lib/sanity";
import { getDate, getTime, getDayOfWeek } from "../../lib/dateHelpers";

const events = await getFutureEvents();
console.log("[schedule-page] events", events);

// Types
import type { Event } from "../../types/types";

// Page Data
const headline = "Schedule";
const description =
  "The Benderz deliver unforgettable performances, uniting music lovers through energy and passion for every occasion.";
---

<Layout>
  <Header46 headline={headline} description={description} />

  <div class="mb-16">
    {
      events.map((event: Event, index: number) => (
        <ScheduleEvent event={event} index={index} />
      ))
    }
  </div>
</Layout>

<!-- <Event31 /> -->
<Contact5 heading="Contact Us" />
