---

---

<div class={`absolute inset-0 z-10 animated-gradient opacity-50`}></div>

<style>
  .animated-gradient {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 1),
      rgba(200, 200, 200, 1),
      rgba(255, 255, 255, 1)
    );
    background-size: 150% 150%;
    animation: gradientAnimation 7s ease infinite;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
